@model IEnumerable<hospital_mvc.Models.Case>

@{
    ViewBag.Title = "ShowPatientCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApoloCare</h2>

<p>
<b>Cases</b>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opendate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var color = "#fff";
        var isDisabled = false;
        if (item.status == "open")
        {
            color = "lime";
            isDisabled = false;
        }
        else if (item.status == "closed")
        {
            color = "white";
            isDisabled = true;

        }
<tr style="background-color: @color">
    <td>
        @Html.DisplayFor(modelItem => item.caseId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Patient.name)
    </td>
    <td>
        @if (item.opendate != null)
        {
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.opendate))
        }
        @if (item.opendate == null)
        {
            @Html.DisplayFor(modelItem => item.opendate)
        }
    </td>
    <td>
        @if (item.closedate != null)
        {
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.closedate))
        }
        @if (item.closedate == null)
        {
            @Html.DisplayFor(modelItem => item.closedate)
        }
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        <button type="button" class="btn btn-info btn-sm" onclick="@("window.location.href='" + @Url.Action("UploadReport", "Doctor", new { id = item.caseId }) + "'");" disabled="@isDisabled">
            Upload Report
        </button>
        <button type="button" class="btn btn-info btn-sm" onclick="@("window.location.href='" + @Url.Action("ViewReports", "Doctor", new { id = item.caseId }) + "'");">
            View Reports
        </button>

    </td>
</tr>
    }

</table>
