@model IEnumerable<hospital_mvc.Models.Case>

@{
    ViewBag.Title = "ShowPatientCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Error");
            };
    </script>
}

<h2>Patient-ID: @ViewBag.patient </h2>
<h4><b>Cases</b></h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opendate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>

    </tr>

    @foreach (var item in Model)
    {

        var color = "#fff";
        var isDisabled = false;
        var close = false;
        if (item.status == "open")
        {
            color = "lime";
            if (item.roombooking == "no")
            {
                isDisabled = false;
            }
            else if(item.roombooking == "yes")
            {
                isDisabled = true;
            }
            if(item.due != 0 || item.roombooking == "yes")
            {
                close = true;
            }
            else if(item.due == 0 && item.roombooking == "no")
            {
                close = false;
            }
        }
        else if (item.status == "closed")
        {
            color = "white";
            isDisabled = true;
            close = true;
        }

        <tr style="background-color: @color">
            <td>
                @Html.DisplayFor(modelItem => item.caseId)
            </td>
            <td>
                @if (item.opendate != null)
                        {
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.opendate))
                }
                @if (item.opendate == null)
                        {
                    @Html.DisplayFor(modelItem => item.opendate)
                }
            </td>
            <td>
                @if (item.closedate != null)
                        {
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.closedate))
                }
                @if (item.closedate == null)
                        {
                    @Html.DisplayFor(modelItem => item.closedate)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <button type="button" class="btn btn-info btn-sm" onclick="@("window.location.href='" + @Url.Action("AllotWard", "Receiptionist", new { id = item.caseId , patientId = ViewBag.patient }) + "'");" disabled="@isDisabled">
                    Allot Room
                </button>
                <button type="button" class="btn btn-danger btn-sm" onclick="@("window.location.href='" + @Url.Action("CloseCase", "Receiptionist", new { id = item.caseId , patientId = ViewBag.patient }) + "'");" disabled="@close">
                    Close Case
                </button>
            </td>
        </tr>
    }

</table>

